html {
    scroll-behavior: smooth;
}
.about {
    background-color: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
}
.band {
    background-color: inherit;
    padding-bottom: 5%;
}
.event {

}
.events {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.event-list {
    background-color: white;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 5%;
}